<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% @micpost.each do |microposts| %>
    <tr>
      <td><%= microposts.id %></td>
      <td><%= microposts.content %></td>
     </tr>
  <% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
